{% include 'bottom-logo' %}
<div class="page-width">
    <div class="grid">
        <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
            <div class="rte">
                <div style="margin-left: 0; margin-right: -235px;">
                    <div class=" stockist-top text-center">
                        {{ 'Vapepasswordgif.gif' | asset_url | img_tag: 'Logo', 'floating-coin-password' }}
                    </div>
                </div>

                <h1 class="text-center" style="margin-top:0px;">
                    {{ page.title }}
                </h1>
                {{ page.content }}
            </div>
        </div>
    </div>
</div>

<script>


</script>

<style>
    .center--coin {
        width: 320px;
    }

    .main-content {
        padding-top: 10px;
        padding-bottom: 50px;
    }

    @media only screen and (max-width: 749px) {
        .center--coin {
            position:relative;
          //  bottom:-100px;
        }
        .stockist-top{
            background-repeat:   no-repeat;
            background-position: center top;
            margin-bottom: 20px;
            width: 50%;
        }
    }
</style>
